In [2]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [3]:
import numpy as np
import pandas as pd
import datetime as dt
from sqlalchemy import inspect

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///../Resources/hawaii.sqlite")

In [6]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Inspect Database (Tables)

In [12]:
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [13]:
columns = inspector.get_columns('measurement')
for column in columns:
    primarykeystr = ""
    if column['primary_key'] == 1:
        primarykeystr = "Primary Key"
    print(column["name"],column["type"],primarykeystr)

id INTEGER Primary Key
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [14]:
columns = inspector.get_columns('station')
for column in columns:
    primarykeystr = ""
    if column['primary_key'] == 1:
        primarykeystr = "Primary Key"
    print(column["name"], column["type"], primarykeystr)

id INTEGER Primary Key
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

# Exploratory Precipitation Analysis

In [15]:
# Find the most recent date in the data set. Note date = text (string)
session.query(func.count(Measurement.date)).all()

recent_dt_str = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
earliest_dt_str = session.query(Measurement.date).order_by(Measurement.date).first()

print(f"Earliest: {earliest_dt_str[0]} , Latest: {recent_dt_str[0]}")

Earliest: 2010-01-01 , Latest: 2017-08-23

In [23]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 
recent_date = dt.datetime.strptime(recent_dt_str[0], '%Y-%m-%d')

# Calculate the date one year from the last date in data set.
recent_date_one_year = dt.date(recent_date.year -1, recent_date.month, recent_date.day)
recent_date_one_year

# Perform a query to retrieve the data and precipitation scores
sel = [Measurement.date,Measurement.prcp]
mea_query_result = session.query(*sel).filter(Measurement.date>= recent_date_one_year).all()
mea_query_result

# Save the query results as a Pandas DataFrame
prcp_df = pd.DataFrame(mea_query_result, columns=['Date','Precipitation'])

# Clean up non value entries
prcp_df = prcp_df.dropna(how='any') 

# Sort the dataframe by date
prcp_df = prcp_df.sort_values(["Date"], ascending=True)

# Set the index ro rhe date column
prcp_df = prcp_df.set_index("Date")
prcp_df.head()

            Precipitation
Date
2016-08-23           0.00
2016-08-23           0.02
2016-08-23           0.05
2016-08-23           0.70
2016-08-23           0.15

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()